/* src/app/globals.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  /* Definindo o padding global */
body {
    font-family: 'Arial', sans-serif; /* Defina a fonte global */
    background-color: #f4f4f4; /* Cor de fundo global */
    color: #333; /* Cor de texto global */
    line-height: 1.6; /* Espessura da linha para melhorar a leitura */
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    padding-left: 100px; /* Espaçamento de 50px da esquerda */
    padding-right: 100px; /* Espaçamento de 50px da direita */
  }
  